.contactPage_middle_container{
    display:flex;
    justify-content: space-evenly;
    margin-top:40px;
    margin-left: 50px;
}
.contact_right_container{
    width:50%;
}
.contact_left_container{
    width:50%;
}
.contact_container{
    display:flex;
    justify-content: start;
    /* width:50%; */
}
.icon img{
    display:inline-block;
    height:50px;
    width:50px;
    margin-right: 50px;
    margin-bottom: 50px;
}
.link a{
    display:inline-block;
}
.link label{
    display: inline-block;
}
